<div>
    <table>
        <tr><img src=""  width="100" height="100"></tr>
        <tr>{{arr.hotelName}}</tr>
        <tr>{{arr.hotelType}}</tr>
        <tr>{{arr.numberOfRooms}}</tr>
        <tr>{{arr.userRating}}</tr>
        <tr>{{arr.feedback}}</tr>
        <tr><button>book</button></tr>
        <tr>
            <td>feedback<input type="text"  [(ngModel)]="feedback" ></td>
            <td><button #b1 value="{{arr.hotelId}}" (click)="OnSubmit1(b1.value)">Submit</button></td>
        </tr>
        <tr>
            <td>rating<input type="number"  [(ngModel)]="rating"></td>
            <td><button #b2 value="{{arr.hotelId}}" (click)="OnSubmit2(b2.value)">Submit</button></td>
        </tr>
        
    </table>
</div>
