<div style="width: 100%;background-color: rgb(255, 160, 122);">
    <table style="width: 100%">
      <tr style="width: 100%">
        <td style="width:90%">
          <h1> Online Hotel Booking</h1>
        </td>
        
        <td style="width:50%">
            <div>
              Welcome to hotel booking
              <br/>
              <table>
               <tr> <td> <a href="#">{{sessionAction}}</a> </td></tr>
               
              </table>
  
            </div>
            
        </td>
      </tr>
    </table>
  </div>


<app-hotels></app-hotels>

<app-rating></app-rating>
<app-feedback></app-feedback>